<h1>Список Користувачів</h1>
<a asp-action="Create" class="btn btn-success">Додати Користувача</a>
<a asp-action="Delete" class="btn btn-danger">Видалити Користувача</a>
<a asp-action="Edit" class="btn btn-success">Редагувати Користувача</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.Id</th>
            <th>@item.Email</th>
            <th> 
            <img src="/usersImages/@item.PathImg" alt="No Image" height="100" />
            </th>
        </tr>
        }
    </tbody>
</table>
