<h1>Список Користувачів</h1>
<a asp-action="Create" class="btn btn-success">Додати Користувача</a>
<a asp-action="Delete" class="btn btn-danger">Видалити Користувача</a>
<a asp-action="Edit" class="btn btn-success">Редагувати Користувача</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th>@item.Email</th>
                @*<th>@item</th>*@
            </tr>
        }
    </tbody>
</table>
